<html>
  <head>
    <title><h1>Stock Finder</h1></title>
      <script language="JavaScript">    
        function doChanges(e) {    
            e.style.color = "purple";    
            e.style.fontSize = "30px";
            e.style.doChanges = "center";
        }
        </script>
  </head>
  <body>
    <h1 onmouseover="doChanges(this)" style="color:rgb(84, 2, 109);font-size:30px">Welcome to Stock Finder!</h1>
    {{{ body }}}
  </body>
</html>